{% extends "fluid.html" %}
{% load i18n bwlist %}
{% load static %}

{% block pagetitle %}{% trans "Black/White Listing" %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'modoboa_amavis/css/wblist.css' %}">
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'modoboa_amavis/js/polyfill.js' %}"></script>
<script type="text/javascript" src="{% static 'modoboa_amavis/js/ModoboaAmavis.js' %}"></script>
<script type="text/javascript" src="{% static 'modoboa_amavis/js/ModoboaAmavis.bwlist.js' %}"></script>
<script>
(function(app) {
    "use strict";

    app.bwlist
        .set_page_urls({
            "create": "{% url bwl_create %}",
            "delete": "{% url bwl_delete id='_ID_' %}",
            "edit": "{% url bwl_edit %}",
        })
        .init_view();

}(ModoboaAmavis));
</script>
{% endblock %}

{% block container_content %}
<table id="wblist" class="table table-hover" data-bwl-hard-bw-mode="{{ hard_bw_mode }}">
    <thead>
        <tr>
            <th id="th-recipient">{% trans "Recipient" %}</th>
            <th id="th-sender">{% trans "Sender" %}</th>
            <th id="th-action">{% trans "Action" %}</th>
            <th id="th-commands"></th>
    </thead>
    <tbody>
{% for entry in object_list %}
        <tr id="{{ entry.id }}" {% if entry.recipient.is_global_policy %}data-bwl-global-policy{% endif %}>
            <td data-bwl-priority="{{ entry.recipient.priority }}">{{ entry.recipient }}</td>
            <td data-bwl-priority="{{ entry.sender.priority }}">{{ entry.sender }}</td>
            <td class="text-center" title="{% entry.action|bwl_action_desc:hard_bw_mode %}">{% entry.action|bwl_action_value:hard_bw_mode %}</td>
            <td class="td-commands"></td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}
